*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
}

header {
    background-color: rgb(126, 89, 228);
    font-size: x-large;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    padding: 10px;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    padding: 10px;
}

h3 {
    background-color: darksalmon;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    padding: 10px;
}

nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(126, 89, 228);

}

ul a{
    color: aliceblue;
}

ol {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    background-color: rgb(126, 89, 228);
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 20px;
}

div {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: italic;
        font-size: 20px;
}

footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(126, 89, 228);
    text-align: center;
    padding: 10px;
}

.parrafoHistoria {
    background-color: rgb(126, 89, 228);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    text-indent: 50px;
    font-weight: 1000;
    line-height: 25px;
    width: 50%;
}

.fraseInspiradora {
    background-image: url(../recursos/MIles-Davis-Bitches-Brew.webp); 
    height: 600px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.fraseInspiradoraTexto {
    background-color: rgba(0, 0, 0, 0.322);
    font-size: 70px;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 600;
    font-family: 'Ms Madi', cursive;
}

.redes{
    display: inline;
    text-align: center;
}

.fotosGaleria{
    background-color: rgba(0, 0, 0, 0.233);
    display: inline;
    padding: 15px;
    margin: 5px;
    width: 300px; 
    height: 300px;
}

.listasDiscos{
    background-color: rgba(184, 135, 11, 0.623);
    padding: 30px; 
    margin: 20px;
    border: 10px solid rgba(2, 95, 2, 0.575);
    width: fit-content;
    height: fit-content;
}

.menu__inline{
    background-color:rgb(85, 53, 170);
    font-weight: bold;
    display: inline;
    margin: 10px;
    border-style: double;

}
